@font-face {
    font-family: "Playfair Display";
    src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

.app-header,
.navbar,
.sidebar-brand,
.app-footer {
    border: none !important;
}

.navbar-nav,
.navbar-nav i.bi,
.nav-link {
    color: #f5f5dc !important;
}

.app-main,
.navbar,
.sidebar-brand,
.app-footer {
    background-color: #030c15 !important;
    color: #f5f5dc;
}

.sidebar-brand {
    height: 5.5rem;
    font-family: var(--font-playfair);
}
.sidebar-brand .brand-link .brand-image {
    max-height: 80px;
}

:root {
    --font-open-sans: "Open Sans", sans-serif;
    --font-playfair: "Playfair Display", serif;

    --gdebook-background-color: #05111d;
    --gdebook-sidebar-color: #f5f5dc;
    --gdebook-sidebar-hover-bg: #0f1d2a;

    --gdebook-primary-accent-color: #e2ba76;
    --gdebook-secondary-accent-color: #fde5bf;
    --gdebook-main-color: #e0dbc0;

    /* footer */
    --bs-body-bg: #05111d;
}

.title-color {
    color: var(--gdebook-primary-accent-color) !important;
}
.sub-title-color {
    color: var(--gdebook-secondary-accent-color) !important;
}
.main-color {
    color: var(--gdebook-main-color) !important;
}

.border-gold {
    border: 1px solid var(--gdebook-primary-accent-color) !important;
}
.border-dark-gold {
    border: 1px solid rgba(226, 186, 118, 0.2) !important;
}

.form-theme::placeholder {
    color: var(--gdebook-main-color);
    opacity: 0.5;
}
.form-theme:focus {
    border-color: var(--gdebook-main-color);
    box-shadow: 0 0 2px 0.5px var(--gdebook-primary-accent-color);
}
.btn-theme:hover {
    background-color: #705116 !important;
}
.dark-btn-theme:hover {
    background-color: var(--gdebook-background-color) !important;
}

.table-theme th {
    color: var(--gdebook-secondary-accent-color);
    font-family: var(--font-playfair);
    border-bottom: 1px solid rgba(226, 186, 118, 0.2);
}

.table-theme td {
    color: var(--gdebook-main-color);
    font-family: var(--font-open-sans);
    border-bottom: 1px solid rgba(226, 186, 118, 0.2);
}

.g-text-success {
    color: #218e32 !important;
}

.g-text-danger {
    color: #a63a3a !important;
}
.g-text-warning {
    color: #a98307 !important;
}

body {
    font-family: var(--font-open-sans);
}
.font-playfair {
    font-family: var(--font-playfair);
}
.font-open-sans {
    font-family: var(--font-open-sans);
}

.main-bg-body {
    background-color: var(--gdebook-sidebar-hover-bg) !important;
}

.bg-body-secondary {
    background-color: var(--gdebook-background-color) !important;
}
.sidebar-wrapper .sidebar-menu > .nav-item.menu-open > .nav-link,
.sidebar-wrapper .sidebar-menu > .nav-item:hover > .nav-link,
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link:focus {
    color: var(--gdebook-sidebar-color);
    background-color: var(--gdebook-sidebar-hover-bg);
}
.sidebar-wrapper a {
    color: var(--gdebook-sidebar-color);
}

h1,
h2,
h3 {
    font-family: var(--font-playfair);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px var(--gdebook-background-color) inset !important;
    -webkit-text-fill-color: var(--gdebook-secondary-accent-color) !important;
    border: 2px solid rgba(226, 186, 118, 0.2) !important;
    font-family: var(--font-playfair) !important;
}
